[package]
name = "services"
edition.workspace = true
version.workspace = true

[dependencies]
anyhow = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tokio = { workspace = true }
image = { workspace = true }
serde = { workspace = true }

[lints]
workspace = true
